/problematicas/problema01/Problema01/nbproject/private/
/problematicas/problema01/Problema01/build/
/problematicas/problema02/Problema02/nbproject/private/
/problematicas/problema02/Problema02/build/
/problematicas/problema03/Problema03/nbproject/private/
/problematicas/problema03/Problema03/build/
/problematicas/problema04/problema04/nbproject/private/
/problematicas/problema04/problema04/build/
